@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* fonts */
  --font-family: "PT Sans", system-ui, "Arial", sans-serif;

  /* colors */
  --color-light: #ffffff;
  /* #f2f2f2 ————————————————————— */
  --color-light-secondary: hsl(from var(--color-light) h s 95%);
  --color-light-secondary-80: hsl(from var(--color-light) h s 95% / 0.8);
  /* #e6e6e6 ————————————————————— */
  --color-light-tertiary: hsl(from var(--color-light) h s 90%);
  --color-light-60: hsl(from var(--color-light) h s l / 0.6);
  --color-light-30: hsl(from var(--color-light) h s l / 0.3);
  --color-light-10: hsl(from var(--color-light) h s l / 0.1);

  --color-dark: #000000;
  /* #333333 ————————————————————— */
  --color-dark-secondary: hsl(from var(--color-dark) h s 20%);
  --color-dark-60: hsl(from var(--color-dark) h s l / 0.6);
  --color-dark-40: hsl(from var(--color-dark) h s l / 0.4);
  --color-dark-30: hsl(from var(--color-dark) h s l / 0.3);
  --color-dark-25: hsl(from var(--color-dark) h s l / 0.25);
  --color-dark-20: hsl(from var(--color-dark) h s l / 0.2);
  --color-dark-15: hsl(from var(--color-dark) h s l / 0.15);

  --color-primary: #82b3d3;
  --color-primary-darker: hsl(from var(--color-primary) h s 58%);
  --color-primary-30: hsl(from var(--color-primary) h s l / 0.3);
  --color-primary-20: hsl(from var(--color-primary) h s l / 0.2);
  --color-primary-12: hsl(from var(--color-primary) h s l / 0.12);

  --color-secondary: #756157;
  --color-secondary-darker: hsl(from var(--color-secondary) h s 33%);
  --color-secondary-30: hsl(from var(--color-secondary) h s l / 0.3);

  --color-tertiary: #3f5e72;

  --color-accent: #7db54f;
  --color-accent-darker: hsl(from var(--color-accent) h s 44%);

  --color-accent-secondary: #ff5757;
  --color-accent-secondary-light: hsl(from var(--color-accent-secondary) h s 94%);

  /* shadows */
  --shadow-y4-blur10: 0 4px 10px 0 var(--color-dark-25);
  --shadow-y7-blur15: 0 7px 15px 0 var(--color-dark-40);
  --shadow-y15-blur30: 0 15px 30px 0 var(--color-dark-30);
  --shadow-y25-blur50: 0 25px 50px 0 var(--color-dark-15);
  --shadow-blur15: 0 0 15px 0 var(--color-dark-20);

  /* Borders from shadow */
  --border-base-1: inset 0 0 0 1px;
  --border-1: 0 0 0 1px;
  --border-base-2: inset 0 0 0 2px;
  --border-2: 0 0 0 2px;

  /* border radius */
  --border-radius-circle: 5em;
  --border-radius-4: 4px;
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  transform: scale(0);
}

/* Убираю внешние отступы у которых есть атрибут class */
:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

/* Убираю внутренние отступы слева и стандартный маркер, у которых есть атрибут с классом list */
:where(ul, ol):where([class*="list"],
  .breadcrumbs,
  .view,
  .pagination) {
  padding-left: 0;
  list-style: none;
}

/* Назначаю наследование свойства шрифта для полей ввода */
:where(input,
  textarea,
  select,
  button):where([class]) {
  font: inherit;
}

/* Делаю изображения адаптивными */
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Убираю выделение у изображений */
img::selection,
svg::selection {
  background: transparent;
}

/* Делаю кастомное выделение текста */
::selection {
  background: var(--color-primary-darker);
  color: var(--color-light);
  text-shadow: none;
}

/* Убираю стандартное подчеркивание, только у тех которые с классом */
:where(a[class]) {
  text-decoration: none;
  color: inherit;
}

/* Стилизую ссылки без класса */
:where(a:not([class])) {
  text-decoration: underline;
  color: var(--color-primary-darker);
}

*:focus-visible {
  outline: 3px solid var(--color-primary);
  border-radius: 0.13em;
}

/* Fallback для браузеров без поддержки :focus-visible */
@supports not selector(:focus-visible) {
  *:focus {
    outline: 3px solid var(--color-primary);
    border-radius: 0.13em;
  }
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.167;
  color: var(--color-dark-secondary);
  background-color: var(--color-light-secondary);
}

/* buttons */
.button {
  appearance: none;
  display: inline-grid;
  place-content: center;
  padding: 8px 8px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-4);
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, border 0.3s;
}

.button--primary {
  background-color: var(--color-primary);
}

.button--primary:hover,
.button--primary:not([class*="--current"], .active):focus-visible {
  background-color: var(--color-primary-darker);
}

.button--primary:active {
  background-color: var(--color-primary);
}

.button--secondary {
  background-color: var(--color-secondary);
}

.button--secondary:hover,
.button--secondary:focus-visible {
  background-color: var(--color-secondary-darker);
}

.button--secondary:active {
  background-color: var(--color-secondary);
}

.button:not(:disabled):active {
  color: var(--color-light-30);
}

.button:disabled {
  background-color: var(--color-light-tertiary);
  outline: none;
  cursor: not-allowed;
}

.button--big {
  font-size: 20px;
  line-height: 1.8;
}

.button--small {
  font-size: 16px;
  line-height: 1.25;
}

.button[type="reset"]:hover,
.button[type="reset"]:focus-visible {
  color: var(--color-light-60);
}

.button[type="reset"]:active {
  color: var(--color-light-30);
}

.button[type="reset"]:disabled {
  background-color: transparent;
  color: var(--color-light-10);
}

[class*="--current"] {
  pointer-events: none;
  cursor: default;
}

.active {
  color: var(--color-light);
  background-color: var(--color-accent);
  transition: background-color 0.3s;
}

.active:hover,
.active:focus-visible {
  background-color: var(--color-accent-darker);
}

.active:active {
  background-color: var(--color-accent);
}

/* main text */
.title {
  font-weight: 700;
  color: var(--color-dark);
  text-wrap: balance;
}

.title--h1 {
  font-size: 60px;
  line-height: 1.3;
}

.title--h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.title--h3 {
  font-size: 24px;
  text-transform: uppercase;
}

.description {
  max-width: 656px;
  margin-bottom: 34px;
  font-size: 22px;
  line-height: 1.18;
}

/* inputs ———————————————*/
.input {
  line-height: 1.33;
  border: none;
  background-color: var(--color-light-secondary);
  caret-color: var(--color-primary-darker);
  transition: background-color 0.3s ease-in-out;
}

.input:hover,
.input:focus-visible {
  background-color: var(--color-light-tertiary);
}

.input::placeholder {
  color: var(--color-dark-60);
}

.input:disabled {
  background-color: var(--color-light-secondary);
  color: var(--color-dark-60);
  cursor: not-allowed;
}

.input:not(:placeholder-shown):user-invalid,
.input:not(:placeholder-shown):focus-visible:user-invalid {
  background-color: var(--color-accent-secondary-light);
  outline: 3px solid var(--color-accent-secondary);
}

/* page wrapper */
.page-wrapper {
  display: flex;
  flex-direction: column;
  inline-size: 1200px;
  min-block-size: 100vh;
  margin-inline: auto;
  background-color: var(--color-light);
  box-shadow: var(--shadow-blur15);
}

/* header */
.header {
  display: flex;
  padding-inline: 70px;
  column-gap: 30px;
  z-index: 1;
}

.header__logo {
  display: flex;
  align-items: start;
  flex-shrink: 0;
  margin-bottom: -6px;
}

.header__navigation {
  width: 100%;
  justify-content: space-between;
}

.header__button {
  margin-inline-start: 20px;
  padding-inline: 16px;
  min-width: 160px;
}

/* navigation */
.navigation {
  display: flex;
  gap: 16px;
}

.navigation__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.navigation__link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-dark);
  text-align: center;
  position: relative;
  transition: color .3s ease;
}

.navigation__link::after {
  position: absolute;
  height: 2px;
  inset-inline: 16px;
  bottom: -1px;
  background-color: var(--color-secondary);
  transform: scaleX(0);
  transform-origin: center right;
  will-change: transform;
  transition: transform 0.3s ease, height 0.3s ease;
  content: "";
}

.navigation__link[href]:hover,
.navigation__link[href]:focus {
  color: var(--color-secondary);
  outline: none;
}

.navigation__link[href]:hover::after,
.navigation__link[href]:focus::after {
  transform-origin: center left;
  transform: scaleX(1);
}

.navigation__link[href]:active::after {
  height: 6px;
}

.navigation__link--current::after {
  transform: scaleX(1);
}

/* navigation — right —————————————— */
.navigation__link--search,
.navigation__link--favorite {
  display: grid;
  place-content: center;
  min-width: 44px;
  min-height: 64px;
  text-align: center;
  padding-inline: 12px;
}

.navigation__link--favorite:hover .active,
.navigation__link--favorite:focus-visible .active {
  background-color: var(--color-accent-darker);
}

.navigation__link--search::before,
.navigation__link--favorite::before {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  background-color: var(--color-dark);
  mask-image: var(--icon-nav);
  mask-size: contain;
  mask-repeat: no-repeat;
  transition: background-color 0.3s;
}

.navigation__link--search:hover::before,
.navigation__link--favorite:hover::before {
  background-color: var(--color-secondary);
}

.navigation__link--search {
  --icon-nav: url("../images/search-icon.svg");
}

.navigation__link--favorite {
  --icon-nav: url("../images/favorite-icon.svg");
  position: relative;
}

.navigation__favorite-count {
  position: absolute;
  top: 11px;
  right: 4px;
  display: grid;
  place-items: center;
  min-width: 20px;
  height: 20px;
  padding: 3px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  border-radius: var(--border-radius-circle);
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* —— sections —— */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px 0;
  padding-block: 64px 0;
  content-visibility: auto;
}

.hero {
  min-block-size: 300px;
  padding-block: 51px 82px;
  background-image: url("../images/mask-shape.svg"), url("../images/hero-bg-image.jpeg");
  background-size: 100% auto, cover;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-color: var(--color-primary-30);
}

/* list and item */
.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 3);
  min-height: 385px;
  padding: 64px 83px;
  flex-grow: 1;
}

.item .title--h3 {
  margin-bottom: 30px;
  margin-inline: 2ch;
}

.item--wide {
  flex-direction: row;
  padding: 0;
  width: 100%;
  color: var(--color-light);
  background-color: var(--color-primary);
}

.item--wide-reverse {
  flex-direction: row-reverse;
}

.item--wide .title--h3 {
  color: var(--color-light);
}

/* advantages */
.advantages {
  padding-top: 69px;
}

.advantages__description {
  margin-bottom: 70px;
}

.advantages__item .title--h3::after {
  content: "";
  display: block;
  margin-inline: auto;
  margin-top: 30px;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
}

.advantages__item:not(.item--wide) {
  background-color: var(--color-primary-12);
}

.advantages__item:nth-child(2n+3):not(.item--wide) {
  background-color: var(--color-primary-20);
}

.advantages__image {
  align-self: stretch;
  object-fit: cover;
}

/* service */
.service {
  contain-intrinsic-size: 100% 631px;
}

.service__description {
  margin-bottom: 44px;
}

.service__item:nth-child(2n+1) {
  background-color: var(--color-primary-12);
}

.item__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.item__icon::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: var(--icon-item);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item__icon--house {
  --icon-item: url("../images/service-icon-house.svg");
}

.item__icon--food {
  --icon-item: url("../images/service-icon-food.svg");
}

.item__icon--gift {
  --icon-item: url("../images/service-icon-gift.svg");
}

/* search */
.search {
  padding-block: 96px;
  contain-intrinsic-size: 100% 406px;
}

.search__button,
.subscribe__button {
  padding-inline: 50px;
}

/* catalog page ————————————————— */
/* inner hero */
.inner-hero {
  padding: 70px;
  padding-top: 35px;
  color: var(--color-light);
  background-image: url("../images/filter-bg-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-tertiary);
}

.inner-hero__header {
  display: flex;
  flex-direction: column;
  margin-block-end: 40px;
  gap: 8px;
}

.inner-hero__title {
  color: var(--color-light);
}

/* breadcrumbs */
.breadcrumbs,
.breadcrumbs__item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 1.3125;
  transition: opacity 0.3s ease-in-out;
}

.breadcrumbs__link[href]:hover,
.breadcrumbs__link[href]:focus-visible {
  opacity: 0.6;
}

.breadcrumbs__link[href]:active {
  opacity: 0.3;
}

.breadcrumbs__link--home {
  width: 13px;
  height: 15px;
  flex-shrink: 0;
  background-image: url("../images/breadcrumbs-home-icon.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs__item:not(:first-child)::before {
  display: block;
  width: 8px;
  height: 0.6875rem;
  background-image: url("../images/arrow-right.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

/* filter */
.filter__form {
  display: grid;
  grid-template-columns: repeat(4, max-content) auto;
  gap: 0 70px;
}

.filter__fieldset,
.filter__buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.filter__fieldset:nth-child(1) {
  grid-column: 1 / 2;
}

.filter__fieldset:nth-child(2) {
  grid-column: 2 / 3;
}

.filter__fieldset:nth-child(3) {
  grid-column: 4 / 5;
}

.filter__legend {
  margin-block-end: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

/* filter — controls */
.filter__list {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.control {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 23px;
  gap: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:has(.control__input:disabled) {
  opacity: 0.3;
  cursor: not-allowed;
}

.control__input {
  appearance: none;
  display: grid;
  place-content: center;
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  background-color: var(--color-light);
  cursor: inherit;
  border-radius: var(--border-radius-4);
}

.control__input[type="checkbox"]:checked::after {
  width: 13px;
  height: 12px;
  margin-left: 2.5px;
  mask-image: url("../images/check-mark.svg");
  mask-size: auto;
  mask-repeat: no-repeat;
  mask-position: bottom;
  background-color: var(--color-tertiary);
  content: "";
}

.control__input[type="radio"] {
  border-radius: var(--border-radius-circle);
}

.control__input[type="radio"]:checked::after {
  width: 10px;
  aspect-ratio: 1;
  border-radius: inherit;
  background-color: var(--color-tertiary);
  content: "";
}

.control__label {
  line-height: 1.278;
}

/* filter — price scale */
.filter__price {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2px;
  margin-bottom: 36px;
}

.filter__price > label {
  display: grid;
  align-items: center;
}

.filter__price-label,
.filter__input {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.filter__input {
  width: 143px;
  padding-block: 12px;
  padding-inline: 20px 44px;
  font-weight: 700;
}

.filter__input[id="min-price"] {
  border-radius: var(--border-radius-4) 0 0 var(--border-radius-4);
}

.filter__input[id="max-price"] {
  border-radius: 0 var(--border-radius-4) var(--border-radius-4) 0;
}

.filter__input::-webkit-outer-spin-button,
.filter__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter__price-label {
  justify-self: end;
  margin-inline-end: 20px;
  color: var(--color-dark-30);
  pointer-events: none;
  z-index: 2;
}

/* filter price range scale */
.range-scale {
  height: 5px;
  background-color: var(--color-light-30);
  position: relative;
  margin-block: 8px;
}

.progress {
  inset: 0;
  position: absolute;
  background-color: var(--color-light);
}

.range-scale__range {
  position: absolute;
  appearance: none;
  height: 5px;
  bottom: 50%;
  transform: translateY(50%);
  width: 100%;
  background: none;
  pointer-events: none;
  margin: 0;
  outline: none;
  z-index: 10;
}

/* WebKit */
.range-scale__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-4);
  pointer-events: auto;
  cursor: pointer;
  transition: box-shadow 0.2s ease, background 0.2s ease;
}

/* Firefox */
.range-scale__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-4);
  pointer-events: auto;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.2s ease, background 0.2s ease;
}

/* Старый Edge (EdgeHTML) */
.range-scale__range::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-4);
  pointer-events: auto;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.2s ease, background 0.2s ease;
}

.range-scale__range:hover::-webkit-slider-thumb {
  box-shadow: var(--shadow-y4-blur10);
}

.range-scale__range:hover::-moz-range-thumb {
  box-shadow: var(--shadow-y4-blur10);
}

.range-scale__range:hover::-ms-thumb {
  box-shadow: var(--shadow-y4-blur10);
}

.range-scale__range:focus-visible::-webkit-slider-thumb {
  outline: 3px solid var(--color-primary);
  box-shadow: var(--shadow-y4-blur10);
}

.range-scale__range:focus-visible::-moz-range-thumb {
  outline: 3px solid var(--color-primary);
  box-shadow: var(--shadow-y4-blur10);
}

.range-scale__range:focus-visible::-ms-thumb {
  outline: 3px solid var(--color-primary);
  box-shadow: var(--shadow-y4-blur10);
}

.range-scale__range:active::-webkit-slider-thumb {
  outline: 2px solid var(--color-primary);
  box-shadow: var(--shadow-y7-blur15);
}

.range-scale__range:active::-moz-range-thumb {
  outline: 2px solid var(--color-primary);
  box-shadow: var(--shadow-y7-blur15);
}

.range-scale__range:active::-ms-thumb {
  outline: 2px solid var(--color-primary);
  box-shadow: var(--shadow-y7-blur15);
}

/* filter — form buttons */
.filter__buttons {
  justify-content: end;
  gap: 32px 0;
}

/* catalog */
.catalog {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-inline: 70px;
  padding-block: 50px 60px;
}

/* catalog header */
.catalog__header {
  display: flex;
  align-items: center;
  gap: 70px;
}

.catalog__header > .title--h2 {
  margin-inline-end: auto;
}

/* sort */
.sort {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "sort";
  align-items: center;
}

.sort::after {
  grid-area: sort;
  justify-self: end;
  width: 12px;
  height: 9px;
  margin-top: 3px;
  margin-right: 20px;
  background-color: var(--color-dark);
  mask-image: url("../images/arrow-down.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  pointer-events: none;
  content: "";
}

.sort__select {
  grid-area: sort;
  min-width: 292px;
  padding-block: 14px;
  padding-inline: 20px 50px;
  color: inherit;
  background-color: transparent;
  box-shadow: var(--border-base-2) var(--color-light-tertiary);
  border: none;
  border-radius: var(--border-radius-4);
  appearance: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.sort__select:hover:not(:disabled),
.sort__select:focus-visible:not(:disabled) {
  box-shadow: var(--border-base-2) var(--color-primary-darker);
  outline: none;
}

.sort__select:disabled {
  box-shadow: var(--border-base-2) var(--color-dark);
  opacity: 0.3;
  cursor: not-allowed;
}

.sort:has(.sort__select:disabled)::after {
  opacity: 0.3;
}

/* view */
.view {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.view__button {
  min-width: 48px;
  aspect-ratio: 1;
  box-shadow: var(--border-base-2) var(--color-light-tertiary);
  vertical-align: middle;
  transition: box-shadow 0.3s ease-in-out;
}

.view__button::before {
  width: 16px;
  height: 14px;
  background-color: var(--color-dark);
  mask-image: var(--icon-view);
  mask-size: auto;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background-color 0.3s ease-in-out;
  content: "";
}

.view__button--grid {
  --icon-view: url("../images/view-grid-icon.svg");
}

.view__button--extended {
  --icon-view: url("../images/view-extended-icon.svg");
}

.view__button--list {
  --icon-view: url("../images/view-list-icon.svg");
}

.view__button:hover,
.view__button:focus-visible:not(.view__button--current) {
  box-shadow: var(--border-base-2) var(--color-primary-darker);
  outline: none;
}

.view__button:hover::before,
.view__button:focus-visible:not(.view__button--current)::before {
  background-color: var(--color-primary-darker);
}

.view__button:active {
  box-shadow: var(--border-base-2) var(--color-dark);
}

.view__button:active::before {
  background-color: var(--color-dark);
}

.view__button--current {
  box-shadow: var(--border-base-2) var(--color-dark);
  outline: none;
}

/* catalog — cards */
.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: subgrid;
  grid-row: span 5;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "button second-button"
    "stars rating";
  padding: 20px;
  gap: 16px 20px;
  position: relative;
  box-shadow: var(--border-base-1) var(--color-light-tertiary);
  border-radius: var(--border-radius-4);
}

.catalog__image {
  grid-area: image;
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3 / 2.12;
  background-color: var(--color-primary-darker);
}

.catalog__title {
  grid-area: title;
  text-transform: capitalize;
}

.catalog__link::after {
  position: absolute;
  inset: 0;
  content: "";
}

.catalog__type {
  grid-area: type;
}

.catalog__price {
  grid-area: price;
  justify-self: end;
}

.catalog__button[href] {
  grid-area: button;
}

.catalog__button[type="button"] {
  grid-area: second-button;
}

.catalog__stars {
  grid-area: stars;
  align-self: center;
  height: 17px;
  mask-image: url("../images/star.svg");
  mask-size: contain;
  mask-repeat: repeat-x;
  background-color: var(--color-primary);
}

.catalog__stars--5 {
  width: calc(24px * 5);
}

.catalog__stars--4 {
  width: calc(24px * 4);
}

.catalog__stars--3 {
  width: calc(24px * 3);
}

.catalog__stars--2 {
  width: calc(24px * 2);
}

.catalog__stars--1 {
  width: 24px;
}

.catalog__rating {
  grid-area: rating;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  color: currentColor;
  font-weight: inherit;
  background-color: var(--color-light-secondary);
  cursor: default;
}

.catalog__item > *:not(.catalog__title, .catalog__image) {
  position: relative;
}

/* pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 8px;
  padding-top: 40px;
  box-shadow: inset 0 1px 0 0 var(--color-light-tertiary);
}

.pagination__button {
  min-width: 60px;
  aspect-ratio: 1;
}

.pagination__button--current {
  color: var(--color-dark);
  background-color: var(--color-light-secondary);
}

.pagination__button[aria-hidden="true"] {
  display: block;
  font-size: 22px;
  line-height: 1.822;
  text-align: center;
  color: var(--color-dark);
}

/* subscribe */
.subscribe {
  margin-top: auto;
  padding-block: 96px 104px;
  contain-intrinsic-size: 100% 414px;
}

.subscribe--bg {
  background-image: url("../images/subscribe-bg-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-tertiary);
}

.subscribe--bg,
.subscribe--bg .title--h2 {
  color: var(--color-light);
}

/* subscribe form ————————————————————— */
.subscribe__form {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 684px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.subscribe__input {
  padding: 14px 20px;
  border-radius: var(--border-radius-4) 0 0 var(--border-radius-4);
  /* line-height: 0.9; */
}

.subscribe__label {
  position: absolute;
  top: 14px;
  left: 20px;
  color: var(--color-dark-60);
  user-select: none;
  pointer-events: none;
  transform-origin: top left;
  transition-property: color, scale, translate;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.subscribe__error-message {
  display: none;
  position: absolute;
  top: 4px;
  left: 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--color-accent-secondary);
  user-select: none;
  pointer-events: none;
}

.subscribe__input:not(:placeholder-shown) + .subscribe__label {
  scale: 0.8;
  translate: 0 -10px;
  letter-spacing: 0.5px;
}

.subscribe__input:not(:placeholder-shown) {
  background-color: var(--color-light);
  padding-block: 17px 0;
}

.subscribe__input:not(:placeholder-shown):user-invalid ~ .subscribe__error-message {
  display: block;
}

.subscribe__input:not(:placeholder-shown):user-invalid ~ .subscribe__label {
  display: none;
}

.subscribe__button {
  border-radius: 0 var(--border-radius-4) var(--border-radius-4) 0;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 70px;
  padding-block: 45px 35px;
  gap: 20px
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 6px;
  min-width: 47px;
  height: 40px;
}

.social__icon::before {
  content: "";
  min-width: 25px;
  height: 24px;
  background-color: var(--color-primary);
  mask-image: var(--icon-social);
  mask-size: auto;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background-color 0.3s ease-in-out;
}

.social__icon:hover::before,
.social__icon:focus-visible::before {
  background-color: var(--color-primary-darker);
}

.social__icon:active::before {
  background-color: var(--color-primary-30);
}

.social__icon--vk {
  --icon-social: url("../images/social-icon-vk.svg");
}

.social__icon--telegram {
  --icon-social: url("../images/social-icon-telegram.svg");
}

.social__icon--youtube {
  --icon-social: url("../images/social-icon-youtube.svg");
}

.footer__phone {
  display: flex;
  font-size: 40px;
  line-height: 1;
  font-style: normal;
  color: var(--color-dark);
  transition: color 0.3s ease-in-out;
}

.footer__phone:hover,
.footer__phone:focus-visible {
  color: var(--color-secondary-darker);
}

.footer__phone:active {
  color: var(--color-secondary-30);
}

.footer__developer-link {
  display: flex;
  min-width: 115px;
  height: 33px;
  flex-shrink: 0;
}

.footer__developer-link::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  mask-image: url("../images/dev-logo.svg");
  mask-size: auto;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background-color 0.3s ease-in-out;
}

.footer__developer-link:hover::before,
.footer__developer-link:focus-visible::before {
  background-color: var(--color-secondary-darker);
}

.footer__developer-link:active::before {
  background-color: var(--color-secondary-30);
}

/* modal —————————————————————————— */
.modal {
  max-width: 717px;
  width: 100%;
  padding: 64px 70px;
  background-color: var(--color-light);
  box-shadow: var(--shadow-y25-blur50);
  border-radius: 30px;
  border: none;
  scale: 0;
  opacity: 0;
  transition-property: scale, opacity, display, overlay;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;
}

html:has(.modal:popover-open) {
  overflow: hidden;
  scrollbar-gutter: stable;
  overscroll-behavior: none;
}

.modal::backdrop {
  background-color: var(--color-light-secondary-80);
  -webkit-backdrop-filter: blur(4px) brightness(0.95);
  backdrop-filter: blur(4px) brightness(0.95);
  scale: 0;
  opacity: 0;
  transition-property: scale, opacity, display, overlay;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;
}

.modal:popover-open,
.modal:popover-open::backdrop {
  scale: 1;
  opacity: 1;
}

@starting-style {
  .modal:popover-open {
    opacity: 0;
    scale: 0;
  }
}

.modal__title {
  margin-bottom: 64px;
}

.modal__close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  min-width: 52px;
  aspect-ratio: 1;
  background-color: var(--color-light-secondary);
  border-radius: var(--border-radius-circle);
  transition: background-color 0.3s ease-in-out;
}

.modal__close-button::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--color-dark);
  mask-image: url("../images/close.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.modal__close-button:hover,
.modal__close-button:focus-visible {
  background-color: var(--color-light-tertiary);
}

.modal__close-button:active::before {
  background-color: var(--color-dark-30);
}

.modal__form {
  display: grid;
  align-items: center;
  grid-template-columns: auto 110px 1fr 110px;
  gap: 48px 18px;
}

.modal__input-wrapper {
  grid-column: 2 / -1;
  position: relative;
}

.modal__message {
  position: absolute;
  bottom: -25px;
  left: 20px;
  font-size: 16px;
  line-height: 1.312;
  color: var(--color-dark-secondary);
  user-select: none;
  pointer-events: none;
}

.error {
  color: var(--color-accent-secondary);
}

.modal__input {
  padding-block: 12px;
  font-weight: 700;
}

.modal__input[type="text"] {
  width: 100%;
  padding-inline: 20px 60px;
  background-image: url("../images/calendar-icon.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

.modal__controls {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  padding-inline: 10px;
  background-color: var(--color-light-secondary);
  border-radius: var(--border-radius-4);
}

.modal__control {
  display: grid;
  width: 20px;
  aspect-ratio: 1;
  padding: 0;
  place-items: center;
  position: relative;
}

.modal__control::before {
  width: 20px;
  height: 20px;
  background-color: var(--color-secondary-30);
  mask-image: var(--icon-control);
  mask-size: auto;
  mask-repeat: no-repeat;
  mask-position: center;
  content: "";
  transition: background-color 0.3s ease-in-out;
}

.modal__control--minus {
  --icon-control: url("../images/minus.svg");
}

.modal__control--plus {
  --icon-control: url("../images/plus.svg");
}

.modal__control::after {
  position: absolute;
  width: 40px;
  height: 48px;
  content: "";
}

.modal__control:hover::before,
.modal__control:focus-visible::before {
  background-color: var(--color-dark);
}

.modal__control:active::before {
  background-color: var(--color-dark-20);
}

.modal__input[type="number"] {
  text-align: center;
  padding-inline: 0;
  margin-inline: 5px;
  z-index: 10;
}

.modal__input[type="number"]::-webkit-outer-spin-button,
.modal__input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal__label {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
}

.modal__label-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.tooltip__button {
  min-width: 26px;
  aspect-ratio: 1;
  margin-inline-end: 28px;
  background-image: url("../images/i-icon.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius-circle);
}

.tooltip__text {
  display: none;
}

.modal__button {
  grid-column: 1 / -1;
}

/* progress */
@keyframes grow-progress {
  to {
    width: 100%;
  }
}

.page-wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: var(--color-primary);
  z-index: 100;

  animation-name: grow-progress;
  animation-timing-function: linear;
  animation-timeline: scroll();
}
